.sixn__collabs__container{
  background-color: var(--black);
  color: var(--white);
  height:auto;
  width:100%;
  margin:0;
  padding:1rem;
  display: flex;
  flex-direction: column;
  background-color : #1e1e1e;
}

.collab-title{
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
}
.collab__info{
  text-align: center;
  padding:1rem;
}
.list{
  height:100%;
  width: auto;
  display:flex;
  flex-direction: row;
  gap: 2rem;
  overflow: scroll;
  padding:1rem 2rem 2rem 1rem;
  justify-content:center;

}
.list a{
  height:150px;
  width:150px;
  padding: 1rem;
}
.list img{
  max-height:150px;
  max-width:150px;
  object-fit: contain;
  border-radius: 1rem;
}
@media(max-width:1330px ){
  .list img{
    max-height:110px;
    max-width:110px;
  }
  .list{
    gap: 1rem;
    justify-content:flex-start;
  }
}
@media(max-width:500px ){
  .list img{
    max-height:70px;
    max-width:70px;
  }
}
